body {
	text-align: center;
	background: lightblue;
}

h1 {
	font-size: 50px;
}

#form {
	border: 5px solid blue;
	padding: 20px;
	background: black;
	border-radius: 5px;
	margin: 20%;
	margin-top: 0px;
	margin-bottom: 30px;
}

input {
	border: 2px solid black;
	border-radius: 5px;
	padding: 3px;
}