<web-app>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>Todo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>TodoProcess</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>Delete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/s3</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>s1</welcome-file>
	</welcome-file-list>

</web-app>